<!--[if gt IE 8]><!--><link rel="stylesheet" href="/service-manual/assets/stylesheets/main.css"><!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" href="/service-manual/assets/stylesheets/main-ie6.css"><![endif]-->
<!--[if IE 7]><link rel="stylesheet" href="/service-manual/assets/stylesheets/main-ie7.css"><![endif]-->
<!--[if IE 8]><link rel="stylesheet" href="/service-manual/assets/stylesheets/main-ie8.css"><![endif]-->

<%= stylesheet_link_tag "search.css" %>

<div id="global-breadcrumb" class="header-context">
  <nav role="navigation">
    <ol class="group">
      <li><a href="/service-manual">Home</a></li>
      <li><a href="/service-manual/search">Search</a></li>
    </ol>
  </nav>
</div>

<div id="wrapper" class="service-menu search">
  <nav id="proposition-menu">
    <a href="/service-manual" id="proposition-name">Government Service Design Manual</a>
    <ul id="proposition-links">
      <li><a href="/service-manual/digital-by-default" class="">Digital by Default Service Standard</a></li>
      <li><a href="/service-manual/start" class="">Start using the manual</a></li>
      <li><a href="/feedback" class="">Feedback</a></li>
    </ul>
  </nav>

  <section id="content" role="main" class="group search ancillary">
    <%= render partial: 'form' %>
    <div class="search-container group js-tab-content tab-content">
      <ul class="results-list internal-links">
        <%= render collection: @results, partial: "result" %>
      </ul>
    </div>
  </section>

  <h3 class="visuallyhidden">No more results for <span class="visuallyhidden">&ldquo;<%= @search_term %>&rdquo;</span>. <a href="#search-main">Try a different search?</a></h3>


</div>

<% content_for :extra_headers do %>
  <link rel="alternate" type="application/json" href="/api/search.json?q=<%= @search_term %>">
<% end %>

<% content_for :title, "#{@search_term} - Search - Government Service Design Manual – GOV.UK" %>
