  <nav>
    <ul class="sections">
      <li>
        <%= nav_link_to({action: "index"}, {class: "Content formats"}) do %>
          <span class="caption">Writing for GOV.UK</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "style_points"}, {class: "Content formats"}) do %>
          <span class="caption">Style points</span>
        <% end %>
      </li>
      <li>
        <%
          content_types = [
            { action: "answers", caption: "Answers" },
            { action: "benefits_and_schemes", caption: "Benefits and schemes" },
            { action: "case_studies", caption: "Case studies" },
            { action: "consultations", caption: "Consultations" },
            { action: "corporate_information", caption: "Corporate information" },
            { action: "detailed_guides", caption: "Detailed guides" },
            { action: "government_responses", caption: "Government responses" },
            { action: "guides", caption: "Guides" },
            { action: "images", caption: "Images" },
            { action: "news_stories_and_press_releases", caption: "News stories and press releases" },
            { action: "organisation_homepage", caption: "Organisation homepage" },
            { action: "people_and_roles", caption: "People and roles" },
            { action: "policy_advisory_groups", caption: "Policy advisory groups" },
            { action: "policy_pages", caption: "Policy pages" },
            { action: "publications", caption: "Publications" },
            { action: "speeches", caption: "Speeches" },
            { action: "statements_to_parliament", caption: "Statements to Parliament" },
          ]

          content_type_actions = content_types.map {|i| i[:action]}

          sub_nav_class = "content-types"
          is_expanded = content_type_actions.member?(controller.action_name)

          if is_expanded
            sub_nav_class += " open-section"
          end
        %>
        <section class="<%=sub_nav_class %>">
          <a href="">
            <span class="caption">Content types</span>
          </a>
          <div id="nested-nav" class="content">
            <ul>
              <% content_types.each do |type| %>
              <li>
                <%= nav_link_to({action: type[:action], anchor: "style-guide"}, {class: "Content formats" }) do %>
                <span class="caption"><%= type[:caption] %></span>
                <% end %>
              </li>
              <% end %>
            </ul>
          </div>
        </section>
      </li>
      <li>
        <%= nav_link_to({action: "writing_for_the_web"}, {class: "Content formats"}) do %>
          <span class="caption">Writing for the web</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "whats_new"}, {class: "Content formats"}) do %>
          <span class="caption">What's new</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "a_z"}, {class: "Content formats"}) do %>
          <span class="caption">A to Z</span>
        <% end %>
      </li>
    </ul>
  </nav>
