  <nav>
    <ul class="sections">
      <li>
        <%= nav_link_to({action: "index"}, {class: "Content formats"}) do %>
          <span class="caption">Style points</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "writing_for_govuk"}, {class: "Content formats"}) do %>
          <span class="caption">Writing for GOV.UK</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "answers"}, {class: "Content formats"}) do %>
          <span class="caption">Answers</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "benefits_and_schemes"}, {class: "Content formats"}) do %>
          <span class="caption">Benefits and schemes</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "case_studies"}, {class: "Content formats"}) do %>
          <span class="caption">Case studies</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "consultations"}, {class: "Content formats"}) do %>
          <span class="caption">Consultations</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "corporate_information"}, {class: "Content formats"}) do %>
          <span class="caption">Corporate information</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "detailed_guides"}, {class: "Content formats"}) do %>
          <span class="caption">Detailed guides</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "government_responses"}, {class: "Content formats"}) do %>
          <span class="caption">Government responses</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "guides"}, {class: "Content formats"}) do %>
          <span class="caption">Guides</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "images"}, {class: "Content formats"}) do %>
          <span class="caption">Images</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "news_stories_and_press_releases"}, {class: "Content formats"}) do %>
          <span class="caption">News stories and press releases</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "organisation_homepage"}, {class: "Content formats"}) do %>
          <span class="caption">Organisation homepage</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "people_and_roles"}, {class: "Content formats"}) do %>
          <span class="caption">People and roles</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "policy_advisory_groups"}, {class: "Content formats"}) do %>
          <span class="caption">Policy advisory groups</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "policy_pages"}, {class: "Content formats"}) do %>
          <span class="caption">Policy pages</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "publications"}, {class: "Content formats"}) do %>
          <span class="caption">Publications</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "speeches"}, {class: "Content formats"}) do %>
          <span class="caption">Speeches</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "statements_to_parliament"}, {class: "Content formats"}) do %>
          <span class="caption">Statements to Parliament</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "whats_new"}, {class: "Content formats"}) do %>
          <span class="caption">What's new</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "writing_for_the_web"}, {class: "Content formats"}) do %>
          <span class="caption">Writing for the web</span>
        <% end %>
      </li>
    </ul>
  </nav>
