<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">

    <li class="principle">
      <article>
        <section aria-labelledby="writing-heading">
          <h1 id="writing-heading">A to Z</h1>

          <p>
          <% Terms.a_z.each do |letter| %>
            <%= link_to letter.upcase, "##{letter}" %>
          <% end %>
          </p>

          <% Terms.dictionary.each do |letter, value| %>
            <% if value.any? %>
              <table id="<%= letter %>" class="terms">
                <caption class='a-z'>
                  <%= letter %>
                </caption>
                <tbody>
                <% value.each do |row| %>
                  <tr>
                    <td class="term"><%= row[0] %></td>
                    <td class="description"><%= row[1] %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            <% end %>
          <% end %>
        </section>
      </article>
    </li>
  </ol>

</div>
