<% content_for :title do %>GDS design principles<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <section aria-labelledby="corporate-information-heading">
          <h1 id="corporate-information-heading">Corporate information</h1>
          <p>Appears under the ‘Corporate information’ heading on the organisation home page. Generally, content organisations have to publish this information to meet a specific government commitment.</p>
          <h2>Quick reference guide: corporate information</h2>
          <p>Tell users what your department actually does. Don't give mission statements and visions – tell users what you are actually doing for them and what you are responsible for.</p>
          <table>
            <tr>
              <td>Complaints procedure</td>
              <td>
                <ul class="leading-arrow">
                  <li>how to raise a complaint</li>
                  <li>what to do if you’re not happy with the response to your complaint</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Our energy use</td>
              <td>
                <ul class="leading-arrow">
                  <li>links to department’s energy use data (usually central headquarters)</li>
                  <li>concise overview of measures taken to improve efficiency</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Equality and diversity</td>
              <td>
                <ul class="leading-arrow">
                  <li>hosts documents the organisation is required to publish under equality legislation</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Our governance</td>
              <td>
                <ul class="leading-arrow">
                  <li>a place to describe the boards and other governance committees that run the organisation, and to attach their meeting papers</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Media enquiries</td>
              <td>
                <ul class="leading-arrow">
                  <li>list of press office contacts</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Personal information charter</td>
              <td>
                <ul class="leading-arrow">
                  <li>outlines what standards departments follow when asking for personal information, and what they expect of users when collecting information</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Procurement</td>
              <td>
                <ul class="leading-arrow">
                  <li>information for potential suppliers about procurement processes</li>
                  <li>procurement contacts</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Publication scheme</td>
              <td>
                <ul class="leading-arrow">
                  <li>lists the classes of information the org routinely makes available</li>
                  <li>should follow template set out by the ICO</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Research at [organisation]</td>
              <td>
                <ul class="leading-arrow">
                  <li>forward look at research schedule (can include upcoming publication dates)</li>
                  <li>information about how the org complies with codes of practice</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Social media use</td>
              <td>
                <ul class="leading-arrow">
                  <li>what the public can expect when they connect with the organisation through your social media channels</li>
                  <li>not your internal social media policy for staff</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Statistics at [organisation]</td>
              <td>
                <ul class="leading-arrow">
                  <li>forward look at statistical releases (can include upcoming publication dates)</li>
                  <li>concise overview of the kinds of statistics a department collects</li>
                  <li>information about how the org complies with statistics legislation and code of practice</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Welsh language scheme</td>
              <td>
                <ul class="leading-arrow">
                  <li>hosts the organisation’s Welsh language scheme, if it has one</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>Working for [organisation]</td>
              <td>
                <ul class="leading-arrow">
                  <li>direct links to job and appointment listings</li>
                </ul>
              </td>
            </tr>
          </table>
        </section>
        <section aria-labelledby="complaints-heading">
          <h1 id="complaints-heading">Complaints procedure</h1>
          <p>The <a href="http://www.ombudsman.org.uk/improving-public-service/ombudsmansprinciples/principles-of-good-complaint-handling-full">Parliamentary and Health Service Ombudsman’s guidelines</a> say that public bodies should publish clear, accurate and complete information about how to complain – and how to take complaints further.</p>
          <p>Use this page to explain, as concisely as possible, what people can do if they have a problem with how the organisation has treated them.</p>
          <h2 id="complaints-structure">What to put on the page</h2>
          <p>Use the headings and structure shown below.</p>
          <h3 id="complaints-types">Types of complaints we can help with</h3>
          <p>Explain:</p>
          <ul>
            <li>what type of complaints the organisation will look at</li>
            <li>what type of complaints the organisation won’t look at (because they’re handled in a different way – for example, through your MP)</li>
          </ul>
          <p>Use bullet points where possible.</p>
          <h3 id="how-to-complain">How to complain</h3>
          <p>Explain how to make a complaint. If there are different procedures for different types of complaint, consider creating a separate subheading for each. Include contact information.</p>
          <p>Don’t duplicate information that’s elsewhere on GOV.UK. For example, if there’s a specific procedure for complaints about the organisation’s use of personal data – and you’ve covered it on the ‘Personal information charter’ page – don’t add it here too. </p>
          <h3 id="complaints-what-happens-next">What happens next (optional)</h3>
          <p>Explain what happens once the organisation receives a complaint, and when people can expect a response.</p>
          <h3 id="complaints-dissatisfaction">If you’re not satisfied (optional)</h3>
          <p>Explain what to do if you’re not satisfied with how the organisation has handled a complaint – for example, ask your local MP to refer it to the relevant Parliamentary ombudsman. If you recommend that people contact their MP, include a link to the ‘<a href="http://findyourmp.parliament.uk/">Find your MP</a>’ service.</p>
          <h3 id="complaints-service-standards">Service standards (optional)</h3>
          <p>If the organisation has a formal service standards document, attach it to the page here. </p>
          <h3 id="complaints-data-protection-policy">Data protection policy (optional)</h3>
          <p>Briefly, and in plain English, explain how the organisation meets its obligations under the Data Protection Act 1998.</p>
          <p>Use bullet points where possible. If it’s a long policy, put it in a document and attach it to the page instead.</p>
          <p>A good example:</p>
          <p><%= image_tag "data-protection-policy-example.png", :alt => "good example of a data protection policy", :title => "good example of a data protection policy" %></p>
          <h3 id="complaints-personal-data-protection">Data protection:find out what personal information we hold about you (optional)</h3>
          <p>Explain how to make a subject access request under the Data Protection Act 1998, and tell people about any fees involved. Use the phrase ‘subject access’ for search purposes.</p>
          <p>State the time limit for responding to subject access requests, and what the organisation will do if it looks like it will take longer.</p>
          <p>Attach a copy of the organisation’s subject access request form or standard letter, if it has one.</p>
          <p>Consider linking to the organisation’s entry in the <a href="http://www.ico.org.uk/what_we_cover/register_of_data_controllers">register of data controllers</a> for people who want to find out more about how the organisation handles personal data.</p>
          <p>A good example:</p>
          <p><%= image_tag "personal-information-example.png", :alt => "good example of personal information", :title => "good example of personal information" %></p>
        </section>
        <section aria-labelledby="energy-heading">
          <h1 id="energy-heading">Energy use</h1>
          <p>Only create an ‘Our energy use’ page if the organisation collects and publishes regular data about its energy use.</p>
          <p>Only include information about the organisation’s energy use. Don’t include any other information – for example guidance on how to reduce energy consumption or general information about carbon emissions and climate change.</p>
          <h2 id="energy-use-structure">What to put on the page</h2>
          <p>Use the structure shown below.</p>
          <h3 id="energy-use-summary">Summary</h3>
          <p>Adapt this text:</p>
          <p>Details of [organisation name]’s energy use at our headquarters building (or say which building(s) you’re providing information about). </p>
          <h3 id="energy-use-data">Energy use data</h3>
          <p>Link to data on the organisation’s energy use. This might be:</p>
          <ul>
            <li>real-time data, hosted on an external website</li>
            <li>data files hosted on www.data.gov.uk</li>
          </ul>
          <p>Alternatively, attach data files directly to the ‘Our energy use’ page.</p>
          <p>Say which buildings you’re providing data for. It’s enough to identify the building(s): don't provide information on the size and space of rooms.</p>
          <h3 id="energy-use-certificates">Display energy certificates (optional)</h3>
          <p>If the organisation has a Display Energy Certificate, you can attach it directly to the page.</p>
          <h3 id="energy-use-reduction">What we're doing to reduce our energy use (optional)</h3>
          <p>Give brief details of specific measures, not general aspirations. Use bullet points.</p>
          <p>If the organisation publishes a document setting out its energy saving commitments in detail (for example, a ‘Greening government’ publication), you can attach it to the page here.</p>
          <p>A good example: </p>
          <p><%= image_tag "energy-use-example.png", :alt => "good example of energy use statements", :title => "good example of energy use statements" %></p>
        </section>
        <section aria-labelledby="equality-heading">
          <h1 id="equality-heading">Equality and diversity</h1>
          <p>If the organisation is one of the public bodies required to publish equality information by law, use this page to do it.</p>
          <p>If you’re unsure about your obligations, talk to the relevant people within your organisation. But typically, public bodies will publish: </p>
          <ul>
            <li>equality objectives</li>
            <li>reports showing how the organisation is meeting its equality responsibilities</li>
          </ul>
          <h2 id="equality-structure">What to put on the page</h2>
          <h3 id="equality-summary">Summary</h3>
          <p>Use this text:</p>
          <p>As a public body, we publish regular information about what our equality objectives are and how we're meeting them.</p>
          <h3 id="equality-body-text">Body text</h3>
          <p>Avoid jargon and non-specific aspirational statements (eg ‘we're committed to’, ‘we're proud of’) and general statements about how important it is to be inclusive.</p>
          <p>Don’t provide information directed at staff (eg how to join support networks). Put that sort of thing on your intranet.</p>
          <p>Use the headings shown below.</p>
          <h3 id="equality-objectives">Equality objectives</h3>
          <p>Say what you publish and how often you publish it. For example, </p>
          <p>We publish:</p>
          <ul>
            <li>equality objectives (every 4 years)</li>
            <li>reports showing how we’re meeting our equality responsibilities (once a year)</li>
          </ul>
          <p>Then link to the relevant publications.</p>
          <p>Publications that are produced specifically to meet equality objectives (usually the objectives publication and annual reports) should be attached to the page. Just attach the latest versions: older versions should be archived.</p>
          <p>If there are other publications you want to mention as part of how the organisation meets its equality objectives (for example, a staff survey), add a link to it.</p>
          <h3>Organisations we work with (optional)</h3>
          <p>If you work other organisations to help you meet your equality objectives (eg Business in the Community, Stonewall, Business Disability Forum) you can list them here.</p>
          <h3 id="equality-contact">Equality contact (optional)</h3>
          <p>If the organisation has a specific contact for questions or comments about its equality work, you can tell people how to get in touch here.</p>
          <p>Only include if it’s different from the organisation’s general contact details.</p>
        </section>
        <section aria-labelledby="governance-heading">
          <h1 id="governance-heading">Our governance</h1>
          <p>Use this page to show who is ultimately responsible for making sure the organisation does what it’s supposed to do, meets its legal obligations and identifies and manages risks.</p>
          <p>Stick to the most senior governance boards and committees. A typical ‘Our governance’ page will cover:</p>
          <ul>
            <li>the organisation’s most senior decision making body (often known as the governing board)</li>
            <li>the organisation’s executive board and/or management board, if there is one (usually the organisation’s governing board plus a few other senior officials and minus any non-executive directors)</li>
            <li>the main body responsible for risk management and corporate governance within the organisation (often known as the audit and risk committee)</li>
            <li>top-level governance groups of very senior officials put together to oversee the organisation’s top few projects (there should only be a handful of these, if any – the idea is to represent only very significant projects like major reorganisations of widely accessed public services)</li>
          </ul>
          <h2 id="governance-structure">What to put on the page</h2>
          <p>Use the summary and first paragraph to explain what your governance boards and committees do.</p>
          <p>Then for each of the governance boards or committees you’re covering:</p>
          <ul>
            <li>explain what it does (use bullet points if possible)</li>
            <li>if the board or committee has a terms of reference document, attach it to the page as a ‘callout’ style attachment</li>
            <li>attach minutes from recent meetings to the page (attach the most recent as a ‘callout’ style attachment – the others using ‘inline’ style attachments)</li>
            <li>link to the National Archives for minutes more than a year old (use this format for the link text  – ‘See the National Archives website for minutes from June 2013 and earlier’)</li>
            <li>list the board or committee members (just names and job titles – use bullet points)</li>
          </ul>
          <p>Use subheadings: one per board or committee.</p>
          <p>Good example:</p>
          <p><%= image_tag "governance-example.png", :alt => "good example of governance overview", :title => "good example of governance overview" %></p>
        </section>
        <section aria-labelledby="media-heading">
          <h1 id="media-heading">Media enquiries</h1>
          <p>Use this page to tell journalists who they should contact with specific types of enquiry.</p>
          <p>Only include people who act as the initial point of contact for journalists. </p>
          <p>If you only have one or two contact numbers for media enquiries, there’s no need to create a page like this – just add the contact details to the organisation home page.</p>
          <h2 id="media-structure">What to put on the page</h2>
          <h3 id="media-summary">Summary</h3>
          <p>Make it clear that the contact details on this page are for journalists only. Adapt this text:</p>
          <p>Contact our press team if you’re a journalist with a media enquiry or interview request.</p>
          <h3 id="media-body-text">Body text</h3>
          <p>Group media contacts according to area of responsibility (using this format means that media contacts can be entered into the GOV.UK Publisher system correctly and reused across the site).</p>
          <p>For example, if the Department of Health had 4 press officers working across 2 different areas, their ‘Media enquiries’ page would be organised like this:</p>
          <p><strong>NHS media team</strong></p>
          <p>Contact the NHS media team with questions about government policy on:</p>
          <ul>
            <li>primary care, including dentistry</li>
            <li>urgent care</li>
            <li>medicines, pharmacy and industry</li>
          </ul>
          <p><strong>NHS media officer name, job title</strong></p>
          <p>Phone number</p>
          <p><strong>NHS media officer name, job title</strong></p>
          <p>Phone number</p>
          <p><strong>Public health media team</strong></p>
          <p>Contact the public health media team with questions about government policy on:</p>
          <ul>
            <li>obesity</li>
            <li>alcohol</li>
            <li>smoking</li>
            <li>vaccination programme</li>
          </ul>
          <p><strong>Public health media officer name, job title</strong></p>
          <p>Phone number</p>
          <p><strong>Public health media officer name, job title</strong></p>
          <p>Phone number</p>
          <p><strong>Out of hours enquiries</strong></p>
          <p>Contact the duty officer on [phone number].</p>
        </section>
        <section aria-labelledby="personal-heading">
          <h1 id="personal-heading">Personal information charter</h1>
          <p>This page sets out the organisation’s personal information charter – the principles it uses when collecting, holding and processing service users’ personal information, and how service users can help keep their details up to date.</p>
          <p>It’s also the place to explain the organisation’s data protection policy and tell people where to send subject access requests. </p>
          <p>Contact your organisation’s data protection officer if you’re not sure which parts of the page you should be including.</p>
          <h2 id="information-charter-structure">What to put on the page</h2>
          <p>Use the headings and structure shown below.</p>
          <h3 id="information-charter-summary">Summary</h3>
          <p>Adapt this text:</p>
          <p>This charter sets out what you can expect from us when we ask for, or hold, your personal information. It also covers what we ask from you to help us keep your information up to date.</p>
          <h3 id="information-charter-privacy">Your privacy</h3>
          <p>Explain:</p>
          <ul>
            <li>the principles the organisation follows when handling service users’ personal data</li>
            <li>what you ask service users to do to help you keep their personal information accurate and up to date</li>
          </ul>
          <p>Use bullet points where possible.</p>
          <p>A good example:</p>
          <p><%= image_tag "personal-data-handling-example.png", :alt => "good example of personal data handling", :title => "good example of personal data handling"%></p>
        </section>
        <section aria-labelledby="procurement-heading">
          <h1 id="procurement-heading">Procurement at [organisation name]</h1>
          <p>The point of this page is to let businesses know, as clearly and concisely as possible, how to start selling goods and services to the organisation.</p>
          <p>Keep it simple: link to concrete opportunities rather than providing lots of information about processes.</p>
          <p>Explain the process in neutral terms. Don’t attempt to ‘sell’ the organisation as a business partner.</p>
          <p>Include just enough to let potential suppliers take the initial step (don’t provide any more detail than this – suppliers will be given more detailed information as they move through the procurement process).</p>
          <p>Don’t include:</p>
          <ul>
            <li>guidance on invoicing (suppliers can get these details from your purchasing orders)</li>
            <li>anything about spending data (that’s covered elsewhere on GOV.UK)</li>
            <li>general information about government procurement policy – for example, the obligation to publish details of central government contracts (that’s covered elsewhere on GOV.UK)</li>
          </ul>
          <h2 id="procurement-structure">What to put on the page</h2>
          <h3 id="procurement-summary">Summary</h3>
          <p>Use this text for the summary:</p>
          <p>Supplying goods and services to [organisation name].</p>
          <h3 id="procurement-doing-business-with">Doing business with [organisation name] (mandatory)</h3>
          <p>Tell people what to do if they want to become a supplier. Depending on the organisation, this might mean:</p>
          <ul>
            <li>linking to the place where your contracts are advertised (for example, <a href="https://www.gov.uk/contracts-finder">Contracts Finder</a>)</li>
            <li>explaining how to sign up to the organisation’s tendering system</li>
            <li>providing an email address for procurement enquiries</li>
          </ul>
          <h3 id="procurement-terms-and-conditions">Standard supplier terms and conditions (optional)</h3>
          <p>If the organisation uses standard supplier terms and conditions, you can attach it directly to the page and use Markdown to insert a link to it.</p>
          <h3 id="procurement-policy">[Organisation name] procurement policy (optional)</h3>
          <p>If the organisation has an official procurement policy, attach it directly to the page and use Markdown to insert a link to it.</p>
          <h3 id="procurement-complaints">Procurement complaints (optional)</h3>
          <p>Tell people what to do if they have a complaint about how the organisation has dealt with them as a supplier. Only include this if it’s different from the organisation’s general complaints procedure.</p>
          <h3 id="procurement-final-paragraph">Final paragraph (optional)</h3>
          <p>If the organisation publishes information on how it’s improving procurement practices (for example, <a href="http://sd.defra.gov.uk/documents/Greening-Government-commitments.pdf">sustainable procurement commitments</a> or a <a href="https://www.gov.uk/government/publications/updated-small-and-medium-sized-enterprises-action-plan-published">small and medium-sized enterprise (SME) action plan</a>) you can link to it here.</p>
          <p>Link to this information rather than including it on the page: that way the procurement page stays focused on practical guidance for potential suppliers.</p>
          <p>Good example:</p>
          <p><%= image_tag "procurement-example.png", :alt => "" %></p>
        </section>
        <section aria-labelledby="publication-heading">
          <h1 id="publication-heading">Publication scheme</h1>
          <p>List the classes of information that the organisation makes available, as required by the Information Commissioner’s Office.</p>
          <p>Use the template below for your publication scheme details.</p>
          <p>Throughout, replace the highlighted text with your department or organisation’s name or acronym, the relevant series link or filtered search link, or the appropriate external URL.</p>
          <p>You can make minor amendments to the text and add or delete links and categories where these apply to your organisation.</p>
          <h2 id="publication-scheme">Publication scheme template</h2>
          <p>This publication scheme specifies the categories of information that the department and its agencies regularly publish and explains how to get that information.</p>
          <p>You can find specific documents for this department using the <a href="https://www.gov.uk/government/publications?keywords=&amp;publication_filter_option=transparency-data&amp;topics%5B%5D=all&amp;departments%5B%5D=department-for-education">publication search</a>.</p>
          <p>If the information you want is not routinely published, you can <a href="https://www.gov.uk/make-a-freedom-of-information-request">make a request for it</a> under the Freedom of Information Act.</p>
          <p>You can also search through <a href="https://www.gov.uk/government/publications?keywords=&amp;publication_filter_option=foi-releases&amp;topics%5B%5D=all&amp;departments%5B%5D=all&amp;world_locations%5B%5D=all">previous responses to Freedom of Information requests</a> (or amend this filtered search so it returns results for your department alone). </p>
          <h3 id="publication-organisational-details">Who we are and what we do</h3>
          <p>This information covers our organisational details, structures, locations and contacts. This includes:</p>
          <ul>
            <li>our <a href="https://www.gov.uk/dfe">organisational structure, roles and responsibilities</a></li>
            <li>a <a href="http://reference.data.gov.uk/gov-structure/organogram/?dept=dfe">department organisational chart</a></li>
            <li>details of our [ministers’ meetings with external organisations](create your own document series to collate these and link to it)</li>
            <li>details of [senior staff’s meetings with external organisations](create your own document series to collate these and link to it)</li>
            <li>details of [special advisers’ meetings with external organisations](create your own document series to collate these and link to it)</li>
            <li>information about the <a href="https://www.gov.uk/government/organisations#department-for-education">organisations the department is responsible for, works in partnership with, or sponsors</a></li>
            <li><a href="http://www.legislation.gov.uk/ukpga">legislation relevant to the DfE’s functions</a></li>
            <li><a href="http://www.parliament.uk/business/publications/">our answers to Parliamentary Questions</a> on the Parliament website</li>
            <li><a href="https://www.gov.uk/government/organisations/department-for-education#org-contacts">our location and contact details</a></li>
          </ul>
          <h3 id="publication-spend">What we spend and how we spend it</h3>
          <p>This is where we publish financial information about projected and actual income, expenditure, procurement, contracts and financial audits. This includes:</p>
          <ul>
            <li>departmental <a href="http://www.hm-treasury.gov.uk/psr_index.htm">financial statements, budgets and variance reports, published by HM Treasury</a></li>
            <li>department spending for [transactions over £25,000](create your own document series to collate these and link to it)</li>
            <li>any [contracts and tenders worth over £10,000](create your own document series to collate these and link to it)</li>
            <li>any [government procurement card spend over £500](create your own document series to collate these and link to it)</li>
            <li>our [capital programme](create your own document series to collate these and link to it)</li>
            <li>our [spending reviews](create your own document series or filtered search to link to it)</li>
            <li>the <a href="http://www.nao.org.uk/publications.aspx">financial audit reports published by the National Audit Office</a></li>
            <li>our [ministers’ allowances and expenses](create your own document series to collate these and link to it)</li>
            <li>our [senior staff and board members’ allowances and expenses](create your own document series to collate these and link to it)</li>
            <li>our [senior staff pay and grading structures](link directly to these on GOV.UK, or to relevant data.gov information)</li>
            <li>our [junior staff pay and grading structures](link directly to these on GOV.UK, or to relevant data.gov information)</li>
            <li>our [senior advisers’ salaries and salary ranges](link directly to these on GOV.UK, or to relevant data.gov information)</li>
            <li>our <a href="https://www.gov.uk/government/organisations/department-for-education/about/procurement">procurement procedures</a></li>
            <li>our [financial statements for projects and events](remove this if not applicable, or create a series to collate these and link to them)</li>
            <li>internal financial regulations</li>
          </ul>
          <h3 id="publication-priorities">What our priorities are and how we are doing</h3>
          <p>This category covers departmental strategies and plans, performance indicators, audits, inspections and reviews, including:</p>
          <ul>
            <li>our <a href="http://www.data.gov.uk/library/dfe-open-data-strategy">open data strategy</a></li>
            <li>our [strategic plans](link directly to the latest of these, or to a series collating them)</li>
            <li>our current <a href="https://www.gov.uk/government/publications/business-plan-2012-2015-department-for-business-innovation-and-skills">business plan</a></li>
            <li>our [annual report](link to your latest annual report, or your series collating your annual reports)</li>
            <li>[internal and external performance reviews](create one or more document series collating your performance reviews)</li>
            <li>departmental [performance reports to Parliament](create a document series to collate these and then link to it)</li>
            <li>our [inspection reports](create a series to collate these and then link to it)</li>
            <li>the <a href="https://www.gov.uk/government/publications?keywords=&amp;publication_filter_option=impact-assessments&amp;topics%5B%5D=all&amp;departments%5B%5D=department-for-education">impact assessments</a> we have made</li>
            <li>the [privacy impact assessments](create and link to a document series or a filtered search) we have made</li>
            <li>our [service standards](link to your service standards publication or series collating them)</li>
            <li><a href="https://www.gov.uk/government/organisations/department-for-transport/about/statistics">statistics</a> produced by the department</li>
          </ul>
          <h3 id="publication-decision-processes">How we make decisions</h3>
          <p>This is where we publish details of our decision-making processes and records of our decisions. These include:</p>
          <ul>
            <li>the department’s <a href="https://www.gov.uk/government/policies?keywords=&amp;topics%5B%5D=all&amp;departments%5B%5D=department-for-education">major policy proposals and decisions</a></li>
            <li>our <a href="https://www.gov.uk/government/publications?keywords=&amp;publication_filter_option=consultations&amp;topics%5B%5D=all&amp;departments%5B%5D=department-for-education">public consultations</a></li>
            <li>the <a href="https://www.gov.uk/government/organisations/department-for-education/about/our-governance">minutes of senior-level meetings</a></li>
          </ul>
          <h3 id="publication-procedures">Our policies and procedures</h3>
          <p>This category covers our protocols, policies and procedures for providing services, and responsibilities, including:</p>
          <ul>
            <li>how we <a href="https://www.gov.uk/government/organisations/department-for-education/about/our-governance">conduct departmental business</a></li>
            <li>[delivering our services](possibly a single document, or create a document series to link to; this could be combined with ‘customer service standards’, below)</li>
            <li><a href="https://www.gov.uk/government/organisations/cabinet-office/about/recruitment">recruiting and employing staff</a></li>
            <li>[customer service standards](possibly a single publication; or create a series of these to link to)</li>
            <li><a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office/about/personal-information-charter">records management (NOTE: is records management policy made public by departments?) and personal data policies</a></li>
            <li>[charging regimes and policies](include a link to this if details are not already covered within the detail on the publication scheme page itself)</li>
          </ul>
          <h3>Lists and registers</h3>
          <p>Publish details of the department’s public registers, asset registers and disclosure logs, including:</p>
          <ul>
            <li>our <a href="https://www.gov.uk/government/organisations/department-for-education/series/dfe-public-registers-and-registers-held-as-public-records">public registers and registers held as public records</a></li>
            <li>the department’s <a href="https://www.gov.uk/government/organisations/department-for-education/series/dfe-asset-registers-and-information-asset-register">asset registers and information asset register</a></li>
            <li>[CCTV] (NOTE:  Do departments hold and publish info on CCTV at their buildings?)</li>
            <li>the department’s <a href="https://www.gov.uk/government/organisations/department-for-education/series/dfe-disclosure-logs">disclosure logs</a> listing all FOI requests received</li>
            <li>the <a href="https://www.gov.uk/government/organisations/wales-office/series/gifts">register of gifts</a> (these could be multiple links to multiple series covering ministers, senior civil servants and special advisers separately)</li>
            <li>a list of ministers’ interests in the department’s <a href="https://www.gov.uk/government/organisations/department-for-education/series/dfe-register-of-interests">register of interests</a></li>
          </ul>
          <h3 id="publication-responsibilities">Responsibilities</h3>
          <p>Lead with 'We are responsible for’ and bullet a list of your responsibilities. Keep them active, clear and not too detailed – you can do that in your policies.</p>
          <p>Maximum: 7 bullets.</p>
          <h3>Services we offer (optional)</h3>
          <p>Information about the services the department provides including leaflets,</p>
          <p>guidance and newsletters:</p>
          <ul>
            <li>[regulatory responsibilities](probably single document with acronym)</li>
            <li>[services for public authorities](create document series with acronym)</li>
            <li>[services for industry](create document series with acronym)</li>
            <li>[services for other organisations](create document series with acronym)</li>
            <li>[services for the public](create document series with acronym)</li>
            <li>[fee-based services](create document series with acronym)</li>
            <li>[circulars](create document series with acronym, or named series which would not need an acronym)</li>
            <li>[leaflets, booklets and newsletters](wait, as new content types may be introduced for these)</li>
          </ul>
        </section>
        <section aria-labelledby="research-heading">
          <h1 id="research-heading">Research at [organisation name]</h1>
          <p>If the organisation publishes a lot of research, use this page to provide information about what research you plan to publish and when.</p>
          <p>Only use this page if the organisation has a significant research programme.</p>
          <h2 id="research-structure">What to put on the page</h2>
          <p>Don’t provide style guides or information for authors producing research reports on behalf on the organisation (send them this information directly when you commission the report).</p>
          <p>Don't use the research page to gather customer feedback (do that at the end of the service).</p>
          <p>Use the headings and structure shown below.</p>
          <h3 id="research-summary">Summary</h3>
          <p>Adapt this text:</p>
          <p>Our research programme aims to help us develop policy that’s informed by evidence, and to help us understand the needs of service users. </p>
          <h3 id="research-publications">Research publications</h3>
          <p>Link to where the organisation’s research publications are published on GOV.UK. Usually this means a linking to a search results page, filtered by department and ‘Research and analysis’ publication type.</p>
          <p>For example the Department for Work &amp; Pensions (DWP) might link to their ‘Research and analysis’ publications using this url: <a href="https://www.gov.uk/government/publications?keywords=&amp;publication_filter_option=research-and-analysis&amp;topics%5B%5D=all&amp;departments%5B%5D=department-for-work-pensions">https://www.gov.uk/government/publications?keywords=&amp;publication_filter_option=research-and-analysis&amp;topics%5B%5D=all&amp;departments%5B%5D=department-for-work-pensions</a></p>
          <p>When you copy the url for your organisation from GOV.UK, don’t forget to remove the end of the url (from ‘&amp;publication’ onwards). Otherwise it will only show publications within a certain date range.</p>
          <p>You can also add a link to the organisation’s older research publications on the National Archives site.</p>
          <h3id="research-forthcoming-publications">Forthcoming research publications</h3>
          <p>List the major items of research you’re planning to publish for up to the next 12 months.</p>
          <p>Use a list format rather than a table. Order it so that the closest to publication is at the top eg:</p>
          <ul>
            <li>Mandatory work activity: evaluation (1 December 2012)</li>
            <li>Measuring attitudes to age in Britain (10 April 2013)</li>
            <li>Work Programme first phase: evaluation of qualitative research (25 June 2013)</li>
          </ul>
          <p>Once something has been published, remove it from the list.</p>
          <h3 id="research-programme">Our research programme (optional)</h3>
          <p>Briefly explain what the organisation is trying to achieve through its research work. No more than a few sentences. You might want to cover:</p>
          <ul>
            <li>the scope of the organisation’s research work</li>
            <li>criteria for commissioning research</li>
            <li>quality assurance or review procedures</li>
            <li>standards and ethics</li>
          </ul>
          <p>If the organisation has a formal research commissioning policy or similar publication, you can attach it to the page here.</p>
          <h3 id="research-contracts">Research contracts (optional)</h3>
          <p>You can use this section to let people know how to become a supplier of research services to the organisation.</p>
          <p>Don’t list individual opportunities: just let people know where contracts are listed (<a href="https://www.gov.uk/contracts-finder">Contracts Finder</a> for a lot of government organisations).</p>
          <p>Don’t duplicate substantial amounts of content from your ‘Procurement at [organisation]’ page.</p>
        </section>
        <section aria-labelledby="statistics-heading">
          <h1 id="statistics-heading">Statistics at [department]</h1>
          <p>At the moment (October 2013), there's no set style for statistics – we're working on it.</p>
          <p>However, usual usability rules apply: orientate your user in the first paragraph and group your statistics under logical headings so the user can scan easily.</p>
          <p>Have a look at the <a href="https://www.gov.uk/government/organisations/department-of-energy-climate-change/about/statistics">Department of Energy and Climate Change page</a> as an example.</p>
          <h2 id="statistics-terms-of-reference">Terms of reference</h2>
          <p>The terms of reference of an organisation or group describe its aims, structure and how it will work. They outline the objectives of the group, and the roles and responsibilities of those involved.</p>
          <p>Have a look at the <a href="https://www.gov.uk/government/organisations/committee-on-radioactive-waste-management/about/terms-of-reference">Committee on Radioactive Waste Management</a> as an example.</p>
          <h3 id="statistics-corporate-pages">Corporate pages: working with [department]</h3>
          <p>Again, no set headings but include:</p>
          <ul>
            <li>what sort of roles you might recruit for</li>
            <li>benefits to working for your department – travel, holiday, pension</li>
            <li>training and development opportunities</li>
            <li>benefits of working for the civil service – sports etc</li>
            <li>a link to <a rel="external" href="http://www.civilservice.gov.uk/recruitment">civil service recruitment</a> or other relevant recruitment websites</li>
          </ul>
        </section>
        <section aria-labelledby="welsh-heading">
          <h1 id="welsh-heading">Corporate pages: Welsh language scheme</h1>
          <p>Use this page to host to organisation’s Welsh language scheme, if it has one.</p>
          <h3 id="welsh-summary">Summary</h3>
          <p>Use this text:</p>
          <p>We treat the English and Welsh languages equally when conducting public business in Wales.</p>
          <h3 id="welsh-body-text">Body text</h3>
          <p>Adapt this text:</p>
          <p>Our Welsh Language Scheme explains what [organisation name] does to make sure the English and Welsh languages are treated equally when we provide public services in Wales.</p>
          <p>Add the actual scheme as an attachment to the page (English version then Welsh version).</p>
          <p>Don’t include any other information. Refer to <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/welsh-language-scheme">this good example</a> of how a Welsh language scheme page is set out.</p>
        </section>
      </article>
    </li>
  </ol>
</div>
