<% content_for :title do %>GOV.UK – Style guide<% end %>

<div id="wrapper" class="design-principles styleguide">
  <%= render "styleguide_description" %>

  <%= render "styleguide_sections" %>

  <ol class="principles" id="style-guide">
    <li class="principle">
      <article>
        <section aria-labelledby="writing-heading">
          <h1 id="writing-heading">Writing for GOV.UK</h1>
          <p>GOV.UK is for anyone who has an interest in how UK government policies affect them. Using this style guidance will help us make all GOV.UK information readable and understandable.</p>
          <p>It has a welcoming and reassuring tone and aims to be a trusted and familiar resource.</p>
          <p>We take all of the writing for web points into account when we write for GOV.UK. Then we add the following points based on user testing and analysis on our own website.</p>

          <h2 id="writing-active-voice">Active voice</h2>
          <p>Use the active rather than passive voice. This will help us write concise, clear content.</p>

          <h2 id="writing-addressing-the-user">Addressing the user</h2>
          <p>Address the user as ‘you’ where possible. Content on the site often makes a direct appeal to citizens and businesses to get involved or take action, eg ‘You can contact HMRC by phone and email’ or ‘Pay your car tax’.<p>

          <h2 id="writing-avoid-duplication">Avoid duplication</h2>
          <p>What are you and other departments publishing? Are users across the world seeing a coherent view?</p>
          <p>We have over 116,000 items of content in departmental and policy areas. There’s over 3,000 pages for citizens and businesses. Check that the user need has not already been covered. That doesn’t mean check the information you have – it means check the user need.</p>
          <p>Duplicate content confuses the user and damages the credibility of GOV.UK content. Users end up calling a helpline because they aren't sure they have all the information.</p>
          <p>If there are 2 pieces of information on a subject, perhaps there are 3 and the user has missed one? We also fight with ourselves for search results if we duplicate information.</p>
          <p>If something is written once and links to relevant info easily and well, people are more likely to trust the content.</p>

          <h2 id="writing-be-concise">Be concise</h2>
          <p>To keep content understandable, concise and relevant, it should be:</p>
          <ul>
            <li>specific</li>
            <li>informative</li>
            <li>clear and concise</li>
            <li>brisk but not terse</li>
            <li>incisive (friendliness can lead to a lack of precision and unnecessary words) – but remain human (not a faceless machine)</li>
            <li>serious but not pompous</li>
            <li>emotionless – adjectives can be subjective and make the text sound more emotive and like spin</li>
          </ul>
          <p>You should:</p>
          <ul>
            <li>use contractions (eg can’t)</li>
            <li>not let caveats dictate unwieldy grammar – eg say ‘You can’ rather than ‘You may be able to’</li>
            <li>use the language people are using – use Google Insights to check for terms people search for</li>
            <li>not use long sentences – check any sentences with more than 25 words to see if you can split them to make them clearer</li>
          </ul>

          <p>(Note: words ending in ‘–ion’ and ‘–ment’ tend to make sentences longer and more complicated than they need to be.)</p>

          <h2 id="writing-gender-neutral-text">Gender-neutral text</h2>
          <p>Make sure text is gender neutral wherever possible. Use ‘them’, ‘their’, ‘they’ etc.</p>

          <h2 id="writing-stick-to-style">Stick to the style guide</h2>
          <p>The <a href="https://www.gov.uk/design-principles/style-guide">style guide</a> is based on a lot of user testing.</p>
          <p>By keeping to the style guide, we:</p>
          <ul>
            <li>work to our user testing – what’s the point of publishing if we ignore our users?</li>
            <li>save time – users don’t have to learn different conventions</li>
            <li>eliminate minor mistakes</li>
            <li>will find it easier to train new people</li>
            <li>help users – some users will pick up inconsistencies while reading; that means they are thinking about how something is being said and not what is being said</li>
            <li>raise trust levels – if we are consistent, we are giving a coherent view</li>
          </ul>
          <p>We’ve had <a href="https://www.gov.uk/government/publications/govuk-content-principles-conventions-and-research-background">research done on the impact of style guides</a>. Have a look.</p>

          <h2 id="writing-plain-english">Plain English</h2>
          <p id="plain-english--mandatory-for-all-of-govuk">Plain English is mandatory for all of GOV.UK. One of the parts most people pick up on is the <a href="http://www.independent.co.uk/news/uk/politics/only-pizzas-are-delivered-public-sector-jargon-banned-in-first-style-guide-for-government-announcements-8730020.html">plain English list</a>.</p>
          <p>This isn’t just a list of words to avoid. Plain English is the whole ethos of GOV.UK; it’s a way of writing.</p>
          <p>The list isn’t exhaustive. It’s an indicator to show you the sort of language that confuses.</p>
          <p>GOV.UK is for everyone. Users don’t stop understanding text because it’s written clearly. Less literate users may not understand if you use difficult language. Research shows that higher literacy users also prefer plain English because it allows them to understand your content as quickly as possible.</p>
          <p>As government, we can’t discriminate because of education, so use plain English.</p>
          <p>Don’t use formal or long words when easy or short ones will do. Use ‘buy’ instead of ‘purchase’, ‘help’ instead of ‘assist’, ‘about’ instead of ‘approximately’ and ‘like’ instead of ‘such as’.</p>
          <p>We also lose trust from our users if we write government ‘buzzwords’ and jargon. Often, these words are too general and vague and can lead to misinterpretation or empty, meaningless text. We can do without these words:</p>
          <ul id="banned-list">
            <li>agenda (unless it's for a meeting)</li>
            <li>advancing</li>
            <li>collaborate (use ‘working with’)</li>
            <li>combating</li>
            <li>commit/pledge (we need to be more specific – we’re either doing something or we’re not)</li>
            <li>countering</li>
            <li>deliver (pizzas, post and services are delivered – not abstract concepts like ‘improvements’ or ‘priorities’)</li>
            <li>deploy (unless it's military or software)</li>
            <li>dialogue (we speak to people)</li>
            <li>disincentivise (and incentivise)</li>
            <li>empower</li>
            <li>facilitate (instead, say something specific about how you are helping)</li>
            <li>focusing</li>
            <li>foster (unless it's children)</li>
            <li>impact (as a verb)</li>
            <li>initiate</li>
            <li>key (unless it unlocks something. A subject/thing isn’t ‘key’ – it’s probably ‘important’)</li>
            <li>land (as a verb. Only use if you are talking about aircraft)</li>
            <li>leverage (unless in the financial sense)</li>
            <li>liaise</li>
            <li>overarching</li>
            <li>progress (as a verb – what are you actually doing?)</li>
            <li>promote (unless you are talking about an ad campaign or some other marketing promotion)</li>
            <li>robust</li>
            <li>slimming down (processes don’t diet – we are probably removing x amount of paperwork etc)</li>
            <li>streamline</li>
            <li>strengthening (unless it’s strengthening bridges or other structures)</li>
            <li>tackling (unless it's rugby, football or some other sport)</li>
            <li>transforming (what are you actually doing to change it?)</li>
            <li>utilise</li>
          </ul>

          <p>Avoid using metaphors – they don't say what you actually mean and lead to slower comprehension of your content. For example:</p>
          <ul>
            <li>drive (you can only drive vehicles; not schemes or people)</li>
            <li>drive out (unless it's cattle)</li>
            <li>going forward (unlikely we are giving travel directions)</li>
            <li>in order to (superfluous – don’t use it)</li>
            <li>one-stop shop (we are government, not a retail outlet)</li>
            <li>ring fencing</li>
          </ul>
          <p>With all of these words you can generally get rid of them by breaking the term into what you’re actually doing. Be open and specific.</p>
          <p>Write conversationally – picture your audience and write as if you were talking to them one-to-one but with the authority of someone who can actively help.</p>

          <h2 id="writing-inclusive-language">Inclusive language</h2>
          <p><a href="http://odi.dwp.gov.uk/inclusive-communications/representation/language.php">Words to use and avoid when writing about disability</a>.

          <h2 id="writing-search-results">Search results</h2>
          <p id="seo">We need to get government information to where the UK public can find it. We use search engine optimisation (SEO) to get users to the content that meets their need as quickly and effortlessly as possible. Our goal isn't 'high traffic', it's 'the right traffic'.</p>
          <p>If you have a simple answer to a question, try to put it in the summary. This means users don’t need to leave Google (or whatever search engine they choose to use) to get their information.</p>
          <p>For example, most people want to know the price of a passport before they apply. We've put the price in the summary so it shows in the search results.</p>

          <h2 id="writing-legal-content">Publishing legal and technical content</h2>
          <p>Legal content can still be written in plain English. It's important that users understand content and that we present complicated information simply.</p>
          <p>If you have to publish legal jargon, it will be a publication so you’ll be writing a plain English summary.</p>
          <p>Where evidence shows there's a clear user need for including a legal term (eg 'bona vacantia'), always explain it in plain English.</p>
          <p>Where you need to use technical terms, you can. They're not jargon. You just need to explain what they mean the first time you use them.</p>

          <h2 id="writing-content-designers">Why GOV.UK is different, and so is your role</h2>
          <p>In GDS, we’re called content designers. We don’t just write copy. We ‘design content’.</p>
          <p>We look at the content and, working with designers and developers, we decide how best to present the information. We might think a tool, graphic, video etc is better than long text. It’s all about how best to meet the user need.</p>
          <p>Part of your role may be to teach and explain why we do what we do and stop unusable content getting to users.</p>
          <p>Remember that a lot of people you deal with will have no knowledge of user behaviour. They won’t understand why you want to change the legal language they’ve been using for the past 15 years to something in plain English.</p>
          <p>There’s nothing more powerful than showing someone videos of users failing or struggling to understand their content.</p>
        </section>

        <section>
          <h1 id="writing-content">Starting to write content</h1>
          <p>Search engines are where most users start their search for information. If they can't find your page, they won't be reading your content.</p>
          <p>You'll have to use the vocabulary they use, and that starts with your page title, summary and first paragraph, so that users can find it.</p>

          <h2 id="informing-content">Find popular keywords with search tools</h2>

          <p> Use search tools like <a href="http://www.semrush.com">SEMrush</a>, <a href="http://www.google.co.uk/trends/">Google Trends</a>, and <a href="https://adwords.google.com">Google Adwords</a> to find the keywords that people are searching for in external search engines like Google. What you're calling the need might not be what your users are calling it.</p>

          <p> Help GOV.UK pages appear high in search results by including these keywords in page:</p>
          <ul>
            <li>titles</li>
            <li>headings</li>
            <li>introductions / summaries</li>
            <li>chapter / part titles</li>
            <li>metadata descriptions (only for mainstream content)</li>
          </ul>

          <h2 id="popular-search-terms">Find the most popular keyword</h2>
          <p><a href="http://www.semrush.com">SEMrush</a> will show you the terms that people are using to search for a particular subject, and how popular they are.</p>

          <h3 id="writing-popular-example">Example</h3>
          <p>We’ve got a content item on GOV.UK that tells people how much holiday they can take from work. We first thought this should be called ‘annual leave’, but in the report below we found another keyword that was more popular.</p>

          <p>Register with <a href="http://www.semrush.com">SEMrush</a>, then enter ‘annual leave’ into the search field, ensuring that results are filtered to UK. </p>

          <div class="image-container">
            <%= image_tag 'content/14/keyword-research.png', :alt => "Search results for the 'annual leave' term showing 'annual leave' with a volume of 2400 & 'holiday entitlement' with a volume of 8100" %>
          </div>

          <p>Volume = searches per month</p>

          <p>The term &lsquo;holiday entitlement&rsquo; is the most popular, but ‘annual leave’ also receives a significant amount of traffic.</p>

          <h2 id="double-check">Double-check with Google Trends</h2>

          <p>The volume figures aren’t exact so focus on trends and relative popularity rather than the numbers. Use multiple tools if you’re going to make a big decision, like the keywords to use in a title, based on data.</p>

          <p><a href="http://www.google.co.uk/trends/">Google Trends</a> allows you to compare alternative keywords, and shows seasonal trends.</p>

          <h3 id="writing-double-check-example">Example</h3>
          <p>The <a href="http://www.google.co.uk/trends/">Google Trends</a> report below confirms that &rsquo;holiday entitlement&rsquo; is more popular than &rsquo;annual leave&rsquo;.</p>

          <div class="image-container">
            <%= image_tag 'content/14/google-trends.png', :alt => "Google trends results showing results for the past 12 months within the UK" %>
          </div>

          <h2 id="optimise-content">Optimise content</h2>
          <p>Once you know the most popular keywords you can prioritise them in: </p>
          <ul>
            <li>title</li>
            <li>headings</li>
            <li>introductions / summaries</li>
            <li>chapter / part titles</li>
            <li>metadata descriptions (only for mainstream content)</li>
          </ul>

          <h3 id="writing-optimise-example">Example</h3>
          <p>In the page below the words &lsquo;holiday&rsquo; and &lsquo;entitlement&rsquo; are littered everywhere.</p>

          <p>You can cover more than one keyword &ndash; a lot of people also search for &lsquo;annual leave&rsquo; so we&rsquo;ve included it in the first sentence.</p>

          <div class="image-container">
            <%= image_tag 'content/14/placement-of-term-in-page.png', :alt => "" %>
          </div>

          <p>At the time of writing the page above surfaced first in Google for the search term ‘holiday entitlement’, and second for the term &lsquo;annual leave&rsquo;.</p>

          <div class="image-container">
            <%= image_tag 'content/14/google-search-results.png', :alt => "" %>
          </div>

          <h2 id="detailed-understanding">Get a more detailed understanding of your need</h2>
          <p>As well as the keywords that people are using in search, you can also uncover the specific themes that people are searching for within a subject with the search tools above.</p>

          <h3 id="writing-detailed-understanding-example">Example</h3>
          <p>Below is a <a href="https://adwords.google.com/keywordplanner">Google Keyword Planner</a> report that shows terms related to holiday entitlement. This report aggregates the long list of keywords into themes, and you can click on each theme heading to get the different keywords.</p>

          <div class="image-container">
            <%= image_tag 'content/14/google-adwords.png', :alt => "Google adwords report" %>
          </div>

          <p>The report shows that the following topics should be addressed within the Holiday Entitlement guide:</p>
          <ul>
            <li>maternity leave</li>
            <li>part time workers</li>
            <li>bank holidays</li>
          </ul>
          <p>We've covered these on the page:</p>

          <%= image_tag 'content/14/placement-in-related.png', :alt => "Relevant topics in content" %>

          <h2 id="writing-searches">Searches on GOV.UK</h2>

          <p>We also look at what people are searching for on GOV.UK with the <a href="https://www.google.com/analytics/web/?hl=en-GB&amp;pli=1#report/content-site-search-search-terms/a26179049w50705554p53872948/%3Fexplorer-table.plotKeys%3D%5B%5D%26explorer-table.rowCount%3D50/">Google Analytics Search Terms report</a>. This is helpful to understand what people want specifically from government, not the whole internet.</p>

          <p>You'll need a GOV.UK Google Analytics account to access this link, if you don't have an account request a report from your departmental single point of contact.</p>

          <p>There are a number of different <abbr title="Search engine optimisation">SEO</abbr> keyword tools and they often provide different results &ndash; it&rsquo;s good to use more than one to understand the right keywords to use:</p>
          <ul>
            <li><a href="http://www.semrush.com">SEMrush</a></li>
            <li><a href="http://www.google.co.uk/trends/">Google Trends</a></li>
            <li><a href="https://adwords.google.com">Google Adwords</a></li>
            <li><a href="http://goo.gl/KwuBa">Google Analytics organic search report</a> (need account)</li>
          </ul>

          <h2 id="meta-mainstream">Meta descriptions for mainstream content</h2>
          <p>We don’t currently make our meta descriptions available for Google to use in search results, but they’re used on browse pages and in internal search results. Meta descriptions help you to clarify the purpose of the page and focus on the user-need.</p>

          <h2 id="standardised-formats">Standardised formats</h2>

          <h3>Guides / benefits / schemes</h3>

          <p>Provide a brief overview front-loading popular keywords, then list other popular keywords in the format below. You can use meta descriptions to clarify ambiguities around audience, or differentiate titles that are similar:</p>

          <p>Example: Holiday entitlement or annual leave – information for employers and workers on entitlement, calculating leave, taking leave, accruing leave and disputes.</p>

          <h3 id="writing-quick-answers">Quick answers</h3>
          <p>Use the first sentence if it adequately sums up the content and includes popular keywords. If it doesn’t consider changing the first sentence – it should be focussed and optimised.</p>

          <h3 id="writing-smart-answers">Smart answers</h3>
          <p>Talk to a Product Analyst.</p>

          <h3 id="faqs">Frequently asked questions (FAQs)</h3>
          <p>FAQs are bad. We don't like them. If you write content by starting with user needs, you won’t need to use FAQs.</p>
          <p>This is because FAQs:</p>
          <ul>
            <li>duplicate other content on the site</li>
            <li> can't be front-loaded (putting the most important words users will search for), which makes usability difficult</li>
            <li>are usually not frequently asked questions by the user, but important information dumped by the content editor</li>
            <li>mean that content is not where users expect to find it; it needs to be in context</li>
            <li>can add to search results with duplicate, competing text</li>
          </ul>
          <p>If your call-centres etc get questions that really are frequently asked, get in touch and we will help you find a way to take care of those user needs.</p>
        </section>
        <section>
          <h1 id="accessible-pdfs">Accessible PDFs</h1>
          <p>The best way to create an accessible PDF is to create an accessible source document.</p>
          <p>When a source document is converted into PDF it&rsquo;s tagged. The PDF tag tree reflects the structure of the document, and it&rsquo;s this structure that assistive technologies like screen readers use to navigate the document.</p>

          <h2 id="in-microsoft-word">In Microsoft Word</h2>
          <p>Use the styles and features available in Word to format your content and give it structure. This will make it easier to convert your source document into PDF because it lays the groundwork for the PDF tag tree.</p>

          <h3 id="use-headings">Use headings</h3>
          <p>Use the heading styles in Word to create a logical document structure. Don&rsquo;t increase the size of text or make it bold to create the appearance of headings.</p>
          <p>Treat your document like a book: It should have one title (level one heading) and multiple chapters (level two headings). Within each chapter there may be multiple sections (level three headings) and sub sections (level four headings).</p>

          <h3 id="use-lists">Use lists</h3>
          <p>Use the list styles in Word to group together related items. If the items follow a specific sequence, use a numbered list instead. Don&rsquo;t use punctuation or other markers to create the illusion of a list.</p>

          <h3 id="create-a-table-of-contents">Create a table of contents</h3>
          <p>If your document is longer than a few pages, use Word to automatically create a table of contents based on your heading structure. Don&rsquo;t use lists and links to manually create a table of contents.</p>

          <h3 id="use-readable-body-text">Use readable body text</h3>
          <p>Use left aligned text (unless the language of your document is read right to left). Don&rsquo;t use justified text in your document.</p>
          <p>Choose a sans serif font and use the styles in Word to set it as the default, with a minimum size of 12pt. If you need to include footnotes or other text of a smaller size, increase the size of the body text to 14pt, rather than reduce the size of text below 12pt.</p>
          <p>Don&rsquo;t use chunks of italicised or capitalised text, and don&rsquo;t underline text unless it&rsquo;s a link.</p>

          <h3 id="use-good-colour-contrast">Use good colour contrast</h3>
          <p>Use foreground/background colours for text that have a good contrast ratio. <a href="http://www.w3.org/WAI/GL/WCAG20/WD-WCAG20-TECHS/G18">4.5:1 ratio recommended by the Web Content Accessibility Guidelines 2.0</a> is a good minimum.</p>
          <p>Don&rsquo;t use colour or shape as the only way to identify something in your document. Use text labels or descriptions instead.</p>

          <h3 id="use-data-tables">Use data tables</h3>
          <p>Use tables with column headings to display data. Don&rsquo;t use tables to make cosmetic changes to the layout of the document.</p>

          <h3 id="provide-text-descriptions">Provide text descriptions</h3>
          <p>Use Word to add text descriptions to all important images in the document. Make sure the text description includes all the information contained within, or conveyed by, the image.</p>

          <h2 id="in-adobe-acrobat">In Adobe Acrobat</h2>
          <p>Use Adobe Acrobat Pro to convert your Word document into PDF. Use the <strong>Convert to PDF</strong> option under the <strong>Adobe</strong> menu in Microsoft Word to do this. This will make sure that Acrobat picks up the accessibility you have built into your source document.</p>

          <h3 id="set-the-document-langague">Set the document language</h3>
          <p>Set the language of the document. Go to <strong>File &gt; Properties &gt; Advanced</strong> and select a language from the <strong>Language</strong> menu.</p>
          <p>If the PDF is written in Welsh, type CY into the box.</p>

          <h3 id="check-the-tag-tree">Check the tag tree</h3>
          <p>All content must be tagged, marked as an artefact (background content), or removed from the tag tree. Use the <strong>Tags</strong> panel to review and edit the tag tree. If the PDF was converted from a well structured Word document, the tag tree should require little editing.</p>

          <h3 id="check-the-tab-order">Check the tab order</h3>
          <p>If the PDF contains form fields, use <strong>Advanced &gt; Accessibility &gt; Touch up reading order</strong> to check they can be navigated with the tab key in a logical order. If the tab order needs improving, use the <strong>Order</strong> panel to drag and drop the fields into the correct order.</p>

          <h3 id="check-the-reading-order">Check the reading order</h3>
          <p>Use the <strong>Tags </strong>panel to review and edit the reading order of the PDF. Don&rsquo;t rely on the visual order of the PDF. The reading order is based on the structure of the PDF tag tree, which may not match the visual content order.</p>

          <h3 id="check-the-reflow-order">Check the reflow order</h3>
          <p>Use <strong>View &gt; Zoom &gt; reflow </strong>then check that the PDF still has a logical reading order. Note: It can sometimes be difficult to guarantee a logical reflow order for PDfs with complex content.</p>

          <h3 id="check-text-descriptions">Check text descriptions</h3>
          <p>Go to Advanced &gt; Accessibility &gt; Touch up reading order and check that all images have text descriptions. If the text descriptions were present in the source Word document and the <strong>Convert to PDF</strong> option was used, the text descriptions should already be present in the PDF.</p>

          <h3 id="remove-empty-tags">Remove empty tags</h3>
          <p>Remove empty tags from the tag tree. Use the <strong>Tags</strong> panel to highlight and delete any empty tags from the tag tree.</p>

          <h3 id="set-decroative-content">Set decorative content</h3>
          <p>Tag decorative content elements as artefacts. Use <strong>Advanced &gt; Accessibility &gt; Touch up reading order</strong> to select a decorative element, and use the <strong>Background</strong> button to make the element an artefact.</p>

          <h3 id="check-data-tables">Check data tables</h3>
          <p>Use the <strong>Tags</strong> panel to check the structure of data tables. The <strong>&lt;table&gt;</strong>, <strong>&lt;tr&gt;</strong> and <strong>&lt;td&gt;</strong> tags should be used to give data tables the proper structure.</p>

          <h3 id="active-links">Active links</h3>
          <p>Use the <strong>Tags</strong> panel to check that links are active. Active links should be tagged with the <strong>&lt;link&gt;</strong> tag.</p>

          <h3 id="check-high-contrast">Check high contrast</h3>
          <p>Use <strong>File &gt; Preference &gt; Accessibility</strong> to set a high contrast colour scheme, and check the PDF remains readable. Note: It may not be possible to make high contrast mode work in all PDFs, in which case you should be prepared to make a high contrast version available on request.</p>

          <h3 id="display-document-title">Display document title</h3>
          <p>Display the document title instead of the file name. Go to <strong>File &gt; Properties &gt; Initial view</strong> and select <strong>Document title</strong> from the <strong>Show</strong> drop down box.</p>

          <h2 id="before-publication">Before publication</h2>
          <p>Once all the above steps have been taken, the PDF should be checked before it is published.</p>

          <h3 id="full-adobe-accessibility-check">Full Adobe accessibility check</h3>
          <p>Go to <strong>Advanced &gt; Accessibility</strong> and select <strong>Full check</strong>. The PDF should pass the full check for <a href="http://www.w3.org/WAI/WCAG20/quickref/">WCAG 2.0 Level AA</a> without any warnings.</p>

          <h3 id="quick-screen-reader-check">Quick screen reader check</h3>
          <p>Ask a screen reader user to read through the PDF. If no-one is available to do this, use one of the following options instead.</p>

          <h3 id="user-nvda">Use NVDA</h3>
          <p>Non Visual Desktop Access (NVDA) is a free open source screen reader for Windows. It can be installed to the desktop or run from a portable USB thumb drive.</p>
          <p><a href="http://www.nvda-project.org/">http://www.nvda-project.org/</a></p>
          <p>With NVDA running, open the PDF and use the following commands to check the PDF:</p>
          <ul>
              <li>from the top of the PDF (with the numlock off), use <strong>Numpad 0 + Numpad 2</strong> to read the PDF from top to bottom and check the reading order</li>
              <li>use the <strong>tab</strong> key (repeatedly) to move through the PDF and check the tab order</li>
              <li>use the <strong>h</strong> key (repeatedly) to move through the PDF and check the heading structure</li>
              <li>use the <strong>g</strong> key (repeatedly) to move through the PDF and check for text descriptions</li>
          </ul>
          <p>NB: These commands will also work with the Jaws screen reader from Freedom Scientific.</p>

          <h3 id="use-voiceover">Use VoiceOver</h3>
          <p>All Apple Macs have VoiceOver built in. Turn VoiceOver on (or off again) using <strong>Command + f5</strong>. With VoiceOver running open the PDF and use the following commands to check the PDF:</p>
          <ul>
              <li>from the top of the PDF use a <strong>double finger down swipe</strong>, or <strong>Control + Option + a</strong> to read the PDF from top to bottom and check the reading order; Use the <strong>tab</strong> key (repeatedly) to move through the PDF and check the tab order.</li>
          </ul>
          <p>NB: VoiceOver does not provide shortcut keys for navigating by headings or graphics.</p>
        </section>
      </article>
    </li>
  </ol>

</div>
