    <ul class="sections">
      <li><%= nav_link_to "GOV.UK", {action: "styleguide"}, {class: "gov-uk"} %></li>
      <li><%= nav_link_to "Mainstream content types", action: "mainstream" %></li>
      <li><%= nav_link_to "Inside Government content types", action: "insidegovernment" %></li>
      <li><%= nav_link_to "Detailed guides", action: "detailedguides" %></li>
      <li><%= nav_link_to "What’s new?", action: "whatsnew" %></li>
      <li><%= nav_link_to "Accessible PDFs", action: "accessiblepdfs" %></li>
    </ul>
