  <nav>
    <ul class="sections">
      <li>
        <%= nav_link_to({action: "styleguide"}, {class: "gov-uk"}) do %>
          <span class="icon">1, 2</span>
          <span class="caption">GOV.UK</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "mainstream"}, {class: "Mainstream content types"}) do %>
          <span class="icon">3</span>
          <span class="caption">Mainstream content types</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "insidegovernment"}, {class: "Inside Government content types"}) do %>
          <span class="icon">4 to 11</span>
          <span class="caption">Inside Government content types</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "detailedguides"}, {class: "Detailed guides"}) do %>
          <span class="icon">12</span>
          <span class="caption">Detailed guides</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "accessiblepdfs"}, {class: "Accessible PDFs"}) do %>
          <span class="icon">13</span>
          <span class="caption">Accessible PDFs</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "seo"}, {class: "SEO"}) do %>
          <span class="icon">14</span>
          <span class="caption">Search engine optimisation (SEO)</span>
        <% end %>
      </li>
      <li>
        <%= nav_link_to({action: "whatsnew"}, {class: "What's new"}) do %>
          <span class="icon">&ndash;</span>
          <span class="caption">What’s new</span>
        <% end %>
      </li>
    </ul>
  </nav>
